In [ ]:
import pandas as pd
import io
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_numbers = pd.read_json('/content/drive/MyDrive/result.json')

In [ ]:
!pip install pandasql
from pandasql import sqldf

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.32)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=a772fb5c7eb60ed670c7e04f7bb9b6ee9ca15d1e6883a14e536815bb278a500e
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
q="""SELECT modelId, model  FROM df_numbers group by modelId;"""
pysqldf = lambda q: sqldf(q, globals())
a_df = pysqldf(q)
a_df

     modelId               model
0          2               Ibiza
1          7                  A4
2          8             Clase C
3         17              Megane
4         27                  A6
..       ...                 ...
299     1299                 CLA
300     1314  C5 Aircross Hybrid
301     1317             ProCeed
302     1322                 EQV
303     1331                 eC4

[304 rows x 2 columns]

In [ ]:
q="""SELECT makeId, make  FROM df_numbers group by makeId;"""
pysqldf = lambda q: sqldf(q, globals())
b_df = pysqldf(q)
b_df

    makeId           make
0        1     ALFA ROMEO
1        4           AUDI
2        7            BMW
3        9      CHEVROLET
4       11        CITROEN
5       14           FIAT
6       15           FORD
7       18        HYUNDAI
8       20         JAGUAR
9       21           JEEP
10      22            KIA
11      24     LAND-ROVER
12      25          LEXUS
13      26       MASERATI
14      27          MAZDA
15      28  MERCEDES-BENZ
16      30     MITSUBISHI
17      31         NISSAN
18      32           OPEL
19      33        PEUGEOT
20      34        PORSCHE
21      35        RENAULT
22      39           SEAT
23      40          SKODA
24      41          SMART
25      42      SSANGYONG
26      46         TOYOTA
27      47     VOLKSWAGEN
28      48          VOLVO
29      69          HONDA
30     222           MINI
31    1011          DACIA
32    1330         ABARTH
33    1354          TESLA
34    1358             DS
35    1400          CUPRA

In [ ]:
q="""SELECT fuelTypeId, fuelType  FROM df_numbers group by fuelTypeId;"""
pysqldf = lambda q: sqldf(q, globals())
c_df = pysqldf(q)
c_df

   fuelTypeId            fuelType
0           1              Diesel
1           2            Gasolina
2           3           Electrico
3           4             Hibrido
4           5  Hibrido enchufable
5           6   Gas licuado (GLP)
6           7   Gas natural (CNG)

In [ ]:
df = list(a_df.itertuples(index=False, name=None))
df

[(2, 'Ibiza'),
 (7, 'A4'),
 (8, 'Clase C'),
 (17, 'Megane'),
 (27, 'A6'),
 (34, 'Micra'),
 (38, 'Focus'),
 (39, 'Mondeo'),
 (41, 'Clase E'),
 (51, 'Sonata'),
 (54, 'Laguna'),
 (56, 'Clase S'),
 (57, 'Clase CL'),
 (67, 'Astra'),
 (70, 'Serie 3'),
 (71, 'Serie 5'),
 (72, 'Montero'),
 (73, '911'),
 (75, 'Punto'),
 (77, 'Corsa'),
 (83, 'Passat'),
 (86, 'Fiesta'),
 (89, 'Golf'),
 (92, 'Serie XK'),
 (93, 'Accord'),
 (97, 'Civic'),
 (105, 'A8'),
 (109, 'Polo'),
 (113, 'XJ'),
 (115, 'Range Rover'),
 (131, 'Rav4'),
 (138, 'Wrangler'),
 (139, 'Sportage'),
 (148, 'Cherokee'),
 (153, 'Espace'),
 (163, 'Panda'),
 (164, 'Tipo'),
 (167, 'Clase G'),
 (177, 'Serie 7'),
 (178, 'Serie 8'),
 (181, 'S90'),
 (182, 'V90'),
 (218, 'Grand Cherokee'),
 (232, 'Discovery'),
 (237, 'MX5'),
 (258, 'Clase SLK'),
 (259, 'Clase V'),
 (270, 'Scenic'),
 (272, 'Corolla'),
 (273, 'Auris'),
 (275, 'Clase A'),
 (276, 'Bravo'),
 (283, 'Galaxy'),
 (284, 'S40'),
 (285, 'V40'),
 (287, 'Mazda3'),
 (289, 'KA'),
 (290, 'Boxster'),
 (301, 'XC70'),
 (309, 'Clase M'),
 (313, 'Freelander'),
 (318, 'fortwo'),
 (322, 'Yaris'),
 (336, 'Ghibli'),
 (341, 'Alhambra'),
 (345, 'A3'),
 (350, 'Octavia'),
 (351, 'Octavia Tour'),
 (353, 'C4'),
 (354, 'CRV'),
 (360, 'TT'),
 (365, 'Puma'),
 (376, 'Space Star'),
 (385, 'Zafira'),
 (396, 'Pathfinder'),
 (401, 'HRV'),
 (406, 'SType'),
 (407, 'XF'),
 (410, 'Leon'),
 (411, 'Fabia'),
 (413, 'Xsara Picasso'),
 (425, 'Santa Fe'),
 (427, 'C5'),
 (436, 'S60'),
 (438, 'X5'),
 (439, 'Carens'),
 (442, 'Rio'),
 (447, '308'),
 (449, 'MINI'),
 (456, 'Jazz'),
 (457, 'Superb'),
 (462, 'Touran'),
 (479, 'IS300'),
 (485, 'C3'),
 (486, 'XC90'),
 (489, 'Sorento'),
 (497, 'CMax'),
 (503, 'Cayenne'),
 (506, 'Meriva'),
 (509, 'Outlander'),
 (514, 'Serie 6'),
 (515, 'X3'),
 (524, 'forfour'),
 (529, 'TUCSON'),
 (535, 'Picanto'),
 (539, 'Serie 1'),
 (542, 'Clase CLS'),
 (546, 'Range Rover Sport'),
 (551, 'C30'),
 (555, 'Aygo'),
 (556, 'C1'),
 (558, '107'),
 (566, 'Clase B'),
 (573, 'Cayman'),
 (575, 'Logan'),
 (587, '207'),
 (590, 'SMAX'),
 (594, 'Grand C4 Picasso'),
 (596, 'Antara'),
 (598, '500'),
 (599, 'Hilux'),
 (603, 'Compass'),
 (606, 'QASHQAI'),
 (607, 'ceed'),
 (609, 'Caravelle'),
 (611, 'A5'),
 (614, 'Wrangler Unlimited'),
 (617, 'Patriot'),
 (619, 'C4 Picasso'),
 (622, 'i30'),
 (628, 'Tiguan'),
 (631, 'Pro Ceed'),
 (658, 'L200'),
 (659, 'Combo'),
 (678, 'Berlingo'),
 (681, 'Partner'),
 (694, 'Doblo'),
 (741, 'LS'),
 (746, 'GS'),
 (799, 'Scirocco'),
 (880, 'X6'),
 (882, 'Kuga'),
 (883, 'IS'),
 (885, 'i10'),
 (900, 'XC60'),
 (903, 'Sandero'),
 (904, 'Q5'),
 (905, 'Clase GLK'),
 (907, 'MiTo'),
 (916, '500'),
 (918, 'Insignia'),
 (919, 'Soul'),
 (924, 'Insight'),
 (928, 'i20'),
 (930, 'RX'),
 (932, 'Cruze'),
 (934, '3008'),
 (936, 'Panamera'),
 (944, 'X1'),
 (950, '5008'),
 (957, 'DS3'),
 (961, 'ix35'),
 (962, 'Duster'),
 (963, '500C'),
 (965, 'ASX'),
 (966, 'A1'),
 (968, 'RCZ'),
 (971, 'Countryman'),
 (972, 'Grand CMax'),
 (974, 'A7'),
 (976, 'JUKE'),
 (977, 'V60'),
 (980, 'ix20'),
 (982, '508'),
 (985, 'CT'),
 (986, 'Genesis'),
 (994, 'Range Rover Evoque'),
 (999, 'Q3'),
 (1000, 'i40'),
 (1003, 'Veloster'),
 (1012, 'Zafira Tourer'),
 (1015, 'DS5'),
 (1016, 'CX5'),
 (1019, 'Optima'),
 (1021, '208'),
 (1023, 'A6 allroad quattro'),
 (1026, 'Ampera'),
 (1028, 'Lodgy'),
 (1031, 'C4 Aircross'),
 (1033, 'BMAX'),
 (1036, 'Mokka'),
 (1038, '500L'),
 (1041, 'ceed Sportswagon'),
 (1047, 'CElysee'),
 (1050, 'V40 Cross Country'),
 (1051, 'Adam'),
 (1052, 'Paceman'),
 (1056, 'i3'),
 (1057, 'Clase CLA'),
 (1058, 'FType'),
 (1063, 'EcoSport'),
 (1069, 'Captur'),
 (1071, 'Zoe'),
 (1077, '2008'),
 (1084, 'Serie 4'),
 (1092, 'Serie 2'),
 (1093, 'Spaceback'),
 (1094, '206plus'),
 (1097, 'Macan'),
 (1098, 'GLA'),
 (1100, 'Clase GLA'),
 (1118, 'C4 Cactus'),
 (1119, 'X4'),
 (1125, 'NX'),
 (1126, 'RC'),
 (1127, 'Tourneo Courier'),
 (1130, 'Mustang'),
 (1131, 'Renegade'),
 (1134, 'Discovery Sport'),
 (1136, 'Grand Tourneo Connect'),
 (1138, '500X'),
 (1139, 'XE'),
 (1140, 'CX3'),
 (1149, 'DS 3'),
 (1153, 'Kadjar'),
 (1154, 'Clase GLE'),
 (1155, 'Clase GLE Coupe'),
 (1156, 'V60 Cross Country'),
 (1158, 'Serie 2 Active Tourer'),
 (1159, 'Serie 2 Gran Tourer'),
 (1160, 'Karl'),
 (1162, 'Clase GLC'),
 (1163, 'GTC'),
 (1165, 'Talisman'),
 (1166, 'Fpace'),
 (1167, 'CLUBMAN'),
 (1171, 'Model S'),
 (1173, 'Clase GLS'),
 (1174, 'Edge'),
 (1176, 'Clase SLC'),
 (1177, '718'),
 (1181, 'Levante'),
 (1182, 'Ateca'),
 (1189, 'i20 Active'),
 (1192, 'Kaplus'),
 (1193, 'XLV'),
 (1194, 'GLC Coupe'),
 (1197, 'Niro'),
 (1198, 'Mokka X'),
 (1199, 'Q2'),
 (1202, 'IONIQ'),
 (1203, 'LC'),
 (1204, 'V90 Cross Country'),
 (1208, 'Optima SW'),
 (1211, 'CHR'),
 (1212, 'Kodiaq'),
 (1215, 'MercedesAMG GT'),
 (1217, 'Stelvio'),
 (1219, 'Crossland X'),
 (1220, 'Arteon'),
 (1223, 'DS 7 Crossback'),
 (1224, 'C3 Aircross'),
 (1226, 'EPace'),
 (1228, 'Grandland X'),
 (1229, 'Stonic'),
 (1230, 'Karoq'),
 (1231, 'Arona'),
 (1232, 'TRoc'),
 (1233, 'XC40'),
 (1237, 'Stinger'),
 (1239, 'Kona'),
 (1241, 'X2'),
 (1242, 'Eclipse Cross'),
 (1246, 'iPace'),
 (1247, 'C4 Spacetourer'),
 (1248, 'Grand C4 Spacetourer'),
 (1251, 'ES'),
 (1252, 'Rifter'),
 (1253, 'Combo Life'),
 (1256, 'UX'),
 (1258, 'Ateca'),
 (1260, 'C5 Aircross'),
 (1261, 'GLE'),
 (1263, 'DS 3 Crossback'),
 (1277, 'Cayenne Coupe'),
 (1278, 'Scala'),
 (1281, 'Zafira Life'),
 (1287, 'eSoul'),
 (1289, 'Corsae'),
 (1290, 'DS 7 Crossback ETense'),
 (1291, 'e208'),
 (1292, 'Grandland X PHEV'),
 (1294, 'XCeed'),
 (1296, 'Kamiq'),
 (1297, 'Taycan'),
 (1299, 'CLA'),
 (1314, 'C5 Aircross Hybrid'),
 (1317, 'ProCeed'),
 (1322, 'EQV'),
 (1331, 'eC4')]

In [ ]:
df = list(b_df.itertuples(index=False, name=None))
df

[(2, 'Ibiza'),
 (7, 'A4'),
 (8, 'Clase C'),
 (17, 'Megane'),
 (27, 'A6'),
 (34, 'Micra'),
 (38, 'Focus'),
 (39, 'Mondeo'),
 (41, 'Clase E'),
 (51, 'Sonata'),
 (54, 'Laguna'),
 (56, 'Clase S'),
 (57, 'Clase CL'),
 (67, 'Astra'),
 (70, 'Serie 3'),
 (71, 'Serie 5'),
 (72, 'Montero'),
 (73, '911'),
 (75, 'Punto'),
 (77, 'Corsa'),
 (83, 'Passat'),
 (86, 'Fiesta'),
 (89, 'Golf'),
 (92, 'Serie XK'),
 (93, 'Accord'),
 (97, 'Civic'),
 (105, 'A8'),
 (109, 'Polo'),
 (113, 'XJ'),
 (115, 'Range Rover'),
 (131, 'Rav4'),
 (138, 'Wrangler'),
 (139, 'Sportage'),
 (148, 'Cherokee'),
 (153, 'Espace'),
 (163, 'Panda'),
 (164, 'Tipo'),
 (167, 'Clase G'),
 (177, 'Serie 7'),
 (178, 'Serie 8'),
 (181, 'S90'),
 (182, 'V90'),
 (218, 'Grand Cherokee'),
 (232, 'Discovery'),
 (237, 'MX5'),
 (258, 'Clase SLK'),
 (259, 'Clase V'),
 (270, 'Scenic'),
 (272, 'Corolla'),
 (273, 'Auris'),
 (275, 'Clase A'),
 (276, 'Bravo'),
 (283, 'Galaxy'),
 (284, 'S40'),
 (285, 'V40'),
 (287, 'Mazda3'),
 (289, 'KA'),
 (290, 'Boxster'),
 (293, '307'),
 (301, 'XC70'),
 (309, 'Clase M'),
 (313, 'Freelander'),
 (318, 'fortwo'),
 (322, 'Yaris'),
 (336, 'Ghibli'),
 (341, 'Alhambra'),
 (345, 'A3'),
 (350, 'Octavia'),
 (351, 'Octavia Tour'),
 (353, 'C4'),
 (354, 'CRV'),
 (360, 'TT'),
 (365, 'Puma'),
 (376, 'Space Star'),
 (380, '206'),
 (385, 'Zafira'),
 (396, 'Pathfinder'),
 (401, 'HRV'),
 (406, 'SType'),
 (407, 'XF'),
 (410, 'Leon'),
 (411, 'Fabia'),
 (413, 'Xsara Picasso'),
 (425, 'Santa Fe'),
 (427, 'C5'),
 (436, 'S60'),
 (438, 'X5'),
 (439, 'Carens'),
 (442, 'Rio'),
 (447, '308'),
 (449, 'MINI'),
 (456, 'Jazz'),
 (457, 'Superb'),
 (462, 'Touran'),
 (479, 'IS300'),
 (485, 'C3'),
 (486, 'XC90'),
 (489, 'Sorento'),
 (497, 'CMax'),
 (503, 'Cayenne'),
 (506, 'Meriva'),
 (509, 'Outlander'),
 (514, 'Serie 6'),
 (515, 'X3'),
 (524, 'forfour'),
 (529, 'TUCSON'),
 (535, 'Picanto'),
 (539, 'Serie 1'),
 (542, 'Clase CLS'),
 (546, 'Range Rover Sport'),
 (551, 'C30'),
 (555, 'Aygo'),
 (556, 'C1'),
 (558, '107'),
 (566, 'Clase B'),
 (573, 'Cayman'),
 (575, 'Logan'),
 (587, '207'),
 (590, 'SMAX'),
 (594, 'Grand C4 Picasso'),
 (596, 'Antara'),
 (598, '500'),
 (599, 'Hilux'),
 (603, 'Compass'),
 (606, 'QASHQAI'),
 (607, 'ceed'),
 (609, 'Caravelle'),
 (611, 'A5'),
 (614, 'Wrangler Unlimited'),
 (617, 'Patriot'),
 (619, 'C4 Picasso'),
 (622, 'i30'),
 (628, 'Tiguan'),
 (631, 'Pro Ceed'),
 (657, 'Pickup'),
 (658, 'L200'),
 (659, 'Combo'),
 (678, 'Berlingo'),
 (681, 'Partner'),
 (694, 'Doblo'),
 (741, 'LS'),
 (746, 'GS'),
 (799, 'Scirocco'),
 (880, 'X6'),
 (882, 'Kuga'),
 (883, 'IS'),
 (885, 'i10'),
 (900, 'XC60'),
 (903, 'Sandero'),
 (904, 'Q5'),
 (905, 'Clase GLK'),
 (907, 'MiTo'),
 (916, '500'),
 (918, 'Insignia'),
 (919, 'Soul'),
 (924, 'Insight'),
 (928, 'i20'),
 (930, 'RX'),
 (932, 'Cruze'),
 (934, '3008'),
 (936, 'Panamera'),
 (944, 'X1'),
 (950, '5008'),
 (957, 'DS3'),
 (961, 'ix35'),
 (962, 'Duster'),
 (963, '500C'),
 (965, 'ASX'),
 (966, 'A1'),
 (968, 'RCZ'),
 (971, 'Countryman'),
 (972, 'Grand CMax'),
 (974, 'A7'),
 (976, 'JUKE'),
 (977, 'V60'),
 (980, 'ix20'),
 (982, '508'),
 (985, 'CT'),
 (986, 'Genesis'),
 (994, 'Range Rover Evoque'),
 (999, 'Q3'),
 (1000, 'i40'),
 (1003, 'Veloster'),
 (1012, 'Zafira Tourer'),
 (1015, 'DS5'),
 (1016, 'CX5'),
 (1019, 'Optima'),
 (1021, '208'),
 (1023, 'A6 allroad quattro'),
 (1026, 'Ampera'),
 (1028, 'Lodgy'),
 (1031, 'C4 Aircross'),
 (1033, 'BMAX'),
 (1036, 'Mokka'),
 (1038, '500L'),
 (1041, 'ceed Sportswagon'),
 (1047, 'CElysee'),
 (1050, 'V40 Cross Country'),
 (1051, 'Adam'),
 (1052, 'Paceman'),
 (1056, 'i3'),
 (1057, 'Clase CLA'),
 (1058, 'FType'),
 (1063, 'EcoSport'),
 (1069, 'Captur'),
 (1071, 'Zoe'),
 (1077, '2008'),
 (1084, 'Serie 4'),
 (1092, 'Serie 2'),
 (1093, 'Spaceback'),
 (1094, '206plus'),
 (1097, 'Macan'),
 (1098, 'GLA'),
 (1100, 'Clase GLA'),
 (1118, 'C4 Cactus'),
 (1119, 'X4'),
 (1125, 'NX'),
 (1126, 'RC'),
 (1127, 'Tourneo Courier'),
 (1130, 'Mustang'),
 (1131, 'Renegade'),
 (1134, 'Discovery Sport'),
 (1136, 'Grand Tourneo Connect'),
 (1138, '500X'),
 (1139, 'XE'),
 (1140, 'CX3'),
 (1149, 'DS 3'),
 (1153, 'Kadjar'),
 (1154, 'Clase GLE'),
 (1155, 'Clase GLE Coupe'),
 (1156, 'V60 Cross Country'),
 (1158, 'Serie 2 Active Tourer'),
 (1159, 'Serie 2 Gran Tourer'),
 (1160, 'Karl'),
 (1162, 'Clase GLC'),
 (1163, 'GTC'),
 (1165, 'Talisman'),
 (1166, 'Fpace'),
 (1167, 'CLUBMAN'),
 (1171, 'Model S'),
 (1173, 'Clase GLS'),
 (1174, 'Edge'),
 (1176, 'Clase SLC'),
 (1177, '718'),
 (1181, 'Levante'),
 (1182, 'Ateca'),
 (1189, 'i20 Active'),
 (1192, 'Kaplus'),
 (1193, 'XLV'),
 (1194, 'GLC Coupe'),
 (1197, 'Niro'),
 (1198, 'Mokka X'),
 (1199, 'Q2'),
 (1202, 'IONIQ'),
 (1203, 'LC'),
 (1204, 'V90 Cross Country'),
 (1208, 'Optima SW'),
 (1211, 'CHR'),
 (1212, 'Kodiaq'),
 (1215, 'MercedesAMG GT'),
 (1217, 'Stelvio'),
 (1219, 'Crossland X'),
 (1220, 'Arteon'),
 (1223, 'DS 7 Crossback'),
 (1224, 'C3 Aircross'),
 (1226, 'EPace'),
 (1228, 'Grandland X'),
 (1229, 'Stonic'),
 (1230, 'Karoq'),
 (1231, 'Arona'),
 (1232, 'TRoc'),
 (1233, 'XC40'),
 (1237, 'Stinger'),
 (1239, 'Kona'),
 (1241, 'X2'),
 (1242, 'Eclipse Cross'),
 (1246, 'iPace'),
 (1247, 'C4 Spacetourer'),
 (1248, 'Grand C4 Spacetourer'),
 (1251, 'ES'),
 (1252, 'Rifter'),
 (1253, 'Combo Life'),
 (1256, 'UX'),
 (1258, 'Ateca'),
 (1260, 'C5 Aircross'),
 (1261, 'GLE'),
 (1263, 'DS 3 Crossback'),
 (1266, 'eNiro'),
 (1277, 'Cayenne Coupe'),
 (1278, 'Scala'),
 (1281, 'Zafira Life'),
 (1287, 'eSoul'),
 (1289, 'Corsae'),
 (1290, 'DS 7 Crossback ETense'),
 (1291, 'e208'),
 (1292, 'Grandland X PHEV'),
 (1294, 'XCeed'),
 (1296, 'Kamiq'),
 (1297, 'Taycan'),
 (1299, 'CLA'),
 (1314, 'C5 Aircross Hybrid'),
 (1317, 'ProCeed'),
 (1322, 'EQV'),
 (1331, 'eC4')]

In [ ]:
df = list(c_df.itertuples(index=False, name=None))
df

[(1, 'Diesel'),
 (2, 'Gasolina'),
 (3, 'Electrico'),
 (4, 'Hibrido'),
 (5, 'Hibrido enchufable'),
 (6, 'Gas licuado (GLP)'),
 (7, 'Gas natural (CNG)')]